body {
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 14px;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	font-family: helvetica;	
	 -webkit-backface-visibility: hidden;/* for 闪屏 */
}

.weightFont {
	font-weight: bold;
}
/*
iscroll style
*/
.wrapper {
	position:absolute; z-index:1;
	top:0px; bottom:0px; left:0;
	width:100%;
	overflow:auto;
	padding: 15px 0 0px 0;
}

.scroller {
	position:absolute; z-index:0;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding: 0 0 0px 0;
}
/*
#footer {
	position:absolute; z-index:2;
	bottom:0; left:0;
	width:100%;
	height:48px;

	padding:0;
	border-top:1px solid #444;
}
*/

/*
override
*/
.ui-header-fixed.ui-fixed-hidden {
    top: 0;
    padding-top: 0;
}

/*
list 左边 img
*/
.ui-li-thumb,.ui-listview .ui-li-icon {
	left: 16px;
	top: 5px;
}
/*
list 文字
*/
.ui-li-desc {
	font-size: 12px;
	font-weight: normal;
	display: block;
	margin: -.6em 0 .6em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
}

.ui-li .ui-btn-inner a.ui-link-inherit,.ui-li-static.ui-li {
	padding: .1em 5px;
	display: block;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit,.ui-li-static.ui-li-has-thumb
	{
	padding-left: 50px;
	padding-right: 15px;
}

/*
custom style
*/
.upload-img{
	width:100%;
	height:auto;

     /*设置水平居中*/
     text-align:center;
}
.upload-img img{
	margin:auto;
	max-width:370px;
	width: 90%;
	height: auto;
	
}
.seleced-user-head-img{
	width:100%;
	height:auto;

     /*设置水平居中*/
     text-align:center;
}

.seleced-user-head-img img{
	max-width:370px;
	width: 90%;
	height: auto;
	border-radius: 15px;
	border: 2px solid #000000;
	
}
/*images*/
.gallery {
	list-style: none;
	padding: 0;
	margin: 0;
}

.gallery:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.gallery li {
	float: left;
	width: 48%;
}

.gallery li a {
	display: block;
	margin: 2px;
	border: 1px solid #000000;
	border-radius: 15px;
}

.gallery li img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 15px;
}

.listpic {
	width: 30px !important;
	height: 30px !important;
}

.listtitle {
	color: #006699;
	margin-top: 1px;
	font-size: 11pt;
	font-weight: bold;
}

.timestyle {
	color: grey;
	margin-top: 1px;
	font-size: 10pt;
	float: right;
	margin-right: 5px;
}

.contentList img {
	max-width: 90%;
}

.detailsContent{
	font-size: 12pt;
}

.detailsContent .head{
	float: left;
	width: 40px !important;
	height: 40px !important;
}
.detailsContent .contentSyle{
	margin-top: 10px;
}
.detailsContent .name{
	margin: 0 0 0 50px;
	color: #006699;
	font-size: 11pt;
	font-weight: bold;
}
.detailsContent .time{
	margin: 5px 0 0 50px;
	color: grey;
	font-size: 10pt;
}

.detailsContent .contentPic img{
	max-width: 100%;
}

.detailsContent .comment{
	margin: 10px 0 0 0;
	font-size: 10pt;
}
.detailsContent .comment .commentHead{
	width: 20px !important;
	height: 20px !important;
}


.nav-style .ui-btn .ui-btn-inner {
	padding-top: 20px !important;
}

.nav-style .ui-btn .ui-icon {
	width: 30px !important;
	height: 30px !important;
	margin-left: -15px !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}

#chat .ui-icon {
	background: url(../img/glyphish-icons/09-chat2.png) 50% 50% no-repeat;
	background-size: 24px 22px;
}

#email .ui-icon {
	background: url(../img/glyphish-icons/18-envelope.png) 50% 50% no-repeat;
	background-size: 24px 16px;
}

#login .ui-icon {
	background: url(../img/glyphish-icons/30-key.png) 50% 50% no-repeat;
	background-size: 12px 26px;
}

#beer .ui-icon {
	background: url(../img/glyphish-icons/88-beermug.png) 50% 50% no-repeat;
	background-size: 22px 27px;
}

#coffee .ui-icon {
	background: url(../img/glyphish-icons/100-coffee.png) 50% 50% no-repeat;
	background-size: 20px 24px;
}

#skull .ui-icon {
	background: url(../img/glyphish-icons/21-skull.png) 50% 50% no-repeat;
	background-size: 22px 24px;
	
